body{
   background-image: url("../images/profile.JPG");
   background-size: cover;
   background-repeat: no-repeat;
}
.contain{
   background-color: rgba(0, 0, 0, 0.4);
   height: 100vh;
   margin-top: -20px;
   margin-bottom: -30px;
}