body{
   background-image: url("../images/profile.JPG");
   background-size: cover;
   background-repeat: no-repeat;
}
.contain{
   background-color: rgba(0, 0, 0, 0.4);
   height: 100vh;
   margin-top: -20px;
   margin-bottom: -30px;
}
@media screen and (orientation:landscape) {
   #contact{
      display: flex;
      justify-content: space-between;
   }
   #project{
      display: flex;
      justify-content: space-around;
   }
}
@media screen and (orientation:portrait) {
   #project{
      display:block;
   }
   #contact{
      display: block;
   }
}